
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather Forcast
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter City Name" required>
          <input type="submit" class="ghost-button" value="GET WEATHER">
        </form>
        <% if(weather !== null){ %>
            <p>Currently: <%= weather %></p>
            <img src="http://openweathermap.org/img/w/<%= icon %>.png" alt="Image">
            <p>Todays High: <%= high %></p>
            <p>Todays Low: <%= low %></p>
            <% } %>
          <% if(error !== null){ %>
            <p><%= error %></p>
          <% } %>
      </fieldset>
    </div>
  </body>
</html>